*.pyc
__pycache__/
.pytest_cache/
.mypy_cache/
*cache*

.vscode

.coverage

.DS_Store

.venv/
venv/

docs/_build/

.env
*/.env

# core dump
*/core.*

.python-version

.idea

temp/
great_expectations/
