airflow
pandas
tensorflow==2.8.0
tensorflow-data-validation==1.7.0
tensorflow-hub==0.12.0
tensorflow-io-gcs-filesystem==0.25.0
tensorflow-metadata==1.7.0
tensorflow-model-analysis==0.38.0
tensorflow-serving-api==2.8.0
tensorflow-transform==1.7.0
